<div class="nav">
  <p-button class="nav-but" icon="pi pi-cog" [rounded]="true" severity="info" [outlined]="true"  />
  <p-button class="nav-but" icon="pi pi-user" [rounded]="true" severity="info" [outlined]="true" routerLink="/login"  />
  <p-button class="nav-but" icon="pi pi-search" [rounded]="true" severity="info" [outlined]="true" />
  <p-button class="nav-but" icon="pi pi-image" [rounded]="true" severity="info" [outlined]="true" routerLink="/view"/>
  <p-button class="nav-but" icon="pi pi-upload" [rounded]="true" severity="info" [outlined]="true" routerLink="/upload"/>
</div>

<!--<p-button label="eng"-->
<!--          icon="pi pi-arrow-circle-right"-->
<!--          styleClass="p-button-success"-->
<!--          iconPos="right"-->
<!--          (onClick)="changeLang('en')"-->
<!--&gt;</p-button>-->

<!--<p-button label="ro"-->
<!--          icon="pi pi-arrow-circle-right"-->
<!--          styleClass="p-button-success"-->
<!--          iconPos="right"-->
<!--          (onClick)="changeLang('ro')"-->
<!--&gt;</p-button>-->




