.card {
  width: 30vw;
  height:40vw;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card img {
  width: 100%;
  height: 100%; /* Asigură că imaginea se extinde pe toată înălțimea cardului */
  object-fit: cover; /* Încadrează imaginea fără a o deforma, decupând dacă este necesar */
}
